In [4]:
import pandas as pd

## 행정구역 정보 (csv)읽고 분석하기 
*read_csv() 함수로 csv file 읽rl

*head(), tail(),info() 데이터 확인

*컬럼명을 변경

*특정행과 열을 선택하기 (loc[], iloc[] 사용하기)

In [5]:
data=pd.read_csv('data/data_draw_korea.csv')
print(type(data))
print(data.shape)

<class 'pandas.core.frame.DataFrame'>
(229, 8)

In [6]:
data.head()

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군
2           2   86747        동해  11  5   180.01  강원도  동해시
3           3   63986        삼척  11  8  1185.80  강원도  삼척시
4           4   76733        속초   9  1   105.25  강원도  속초시

In [7]:
data.tail()

     Unnamed: 0     인구수 shortName  x   y      면적  광역시도 행정구역
224         224  127462        제천  8  10  882.47  충청북도  제천시
225         225   34480        증평  6  11   81.84  충청북도  증평군
226         226   62809        진천  5  11  406.08  충청북도  진천군
227         227  790216        청주  6  12  932.51  충청북도  청주시
228         228  198077        충주  6  10  983.70  충청북도  충주시

In [8]:
print('colums',data.columns)
print('index',data.index)
print('values',data.values)
print('info',data.info)

colums Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')
index RangeIndex(start=0, stop=229, step=1)
values [[0 202520 '강릉' ... 1040.07 '강원도' '강릉시']
 [1 25589 '고성(강원)' ... 664.19 '강원도' '고성군']
 [2 86747 '동해' ... 180.01 '강원도' '동해시']
 ...
 [226 62809 '진천' ... 406.08 '충청북도' '진천군']
 [227 790216 '청주' ... 932.51 '충청북도' '청주시']
 [228 198077 '충주' ... 983.7 '충청북도' '충주시']]
info <bound method DataFrame.info of      Unnamed: 0     인구수 shortName   x   y       면적  광역시도 행정구역
0             0  202520        강릉  11   4  1040.07   강원도  강릉시
1             1   25589    고성(강원)   9   0   664.19   강원도  고성군
2             2   86747        동해  11   5   180.01   강원도  동해시
3             3   63986        삼척  11   8  1185.80   강원도  삼척시
4             4   76733        속초   9   1   105.25   강원도  속초시
..          ...     ...       ...  ..  ..      ...   ...  ...
224         224  127462        제천   8  10   882.47  충청북도  제천시
225         225   34480        증평   6  11    81.84  충청북도  증평군
226         226   62809        진천   5  11   406.08  충청북도  진천군
227         227  790216        청주   6  12   932.51  충청북도  청주시
228         228  198077        충주   6  10   983.70  충청북도  충주시

[229 rows x 8 columns]>

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  229 non-null    int64
 1   인구수         229 non-null    int64
 2   shortName   229 non-null    object
 3   x           229 non-null    int64
 4   y           229 non-null    int64
 5   면적          229 non-null    float64
 6   광역시도        229 non-null    object
 7   행정구역        229 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 14.4+ KB

In [10]:
#인구수 의 최대,최소,평균,중간값,합계 , 표준편차
print('max', data['인구수'].max())
print('min', data['인구수'].min())
print('mean', data['인구수'].mean())
print('median', data['인구수'].median())
print('sum', data['인구수'].sum())
print('std', data['인구수'].std())

max 1125461
min 8392
mean 211089.77729257641
median 140159.0
sum 48339559
std 207437.8370475227

In [11]:
#unique 한 광역시도 명은?
data['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [12]:
#경기도의 인구수 평균과 표준편차
경기인구수_평균=data.loc[data['광역시도']=='경기도', '인구수'].mean()
print('평균', 경기인구수_평균)
경기인구수_편차=data.loc[data['광역시도']=='경기도', '인구수'].std()
print('편차', 경기인구수_편차)

평균 378845.48387096776
편차 304548.39514203876

In [13]:
#강원도의 인구수 평균과 표준편차
강원인구수_평균=data.loc[data['광역시도']=='강원도', '인구수'].mean()
print('평균', 강원인구수_평균)
강원인구수_편차=data.loc[data['광역시도']=='강원도', '인구수'].std()
print('편차', 강원인구수_편차)

result

평균 79413.22222222222
편차 87316.38323837094

NameError: name 'result' is not defined

In [ ]:
# 1. 모든 행과 인구수, 행정구역 2개의 컬럼만 선택하기
# head() 사용

data.loc[ : , ['인구수','행정구역']]

In [ ]:
#2 .모든행과 인구수부터 광역시도 컬럼까지 선택하기 (slicing)

data.loc[:, '인구수':'광역시도']

In [ ]:
#3인덱스가 0,3,5인 행과 모든 컬럼을 선택하기
data.loc[[0,3,5], :]

In [ ]:
#4인덱스가 0부터 10까지인 행과 모든 컬럼 선택하기 
data.loc[0:10,:]

In [ ]:
#5
data.loc[0:20:4, :]

In [ ]:
#6
data.loc[0:19,['행정구역', '광역시도']]

In [ ]:
# 7
data.loc[10:30:10, ['광역시도', '행정구역', '인구수', '면적']]

In [ ]:
# 8 
data.loc[data['광역시도']=='서울특별시', :].sort_values(by='인구수',ascending=False).reset_index(drop=True)

In [ ]:
# 9 
data.loc[data['광역시도']=='경상북도', ['광역시도','행정구역','인구수']].sort_values(by='인구수',ascending=False)

In [ ]:
#10

data.loc[data['광역시도']=='인천광역시', '인구수':'행정구역']

In [ ]:
#행과 열을 선택할때 인덱스로 선택할때 iloc사용
#컬럼명 대신에 컬럼인덱스 사용


data.iloc[0:5,0:5]

In [ ]:
#컬럼명 변경 'unnamed: 0 '-> ' seq'
data = data.rename(columns={'Unnamed: 0' : 'seq'}) #변경된 결과를 반영시켜줘야한다. !
data.head(2)

In [ ]:
data = data.set_index('seq')

### 광역시도별 인구수가 가장 많은 지역
*unique(), value_

In [ ]:
#11. 인구수의 평균인구수 보다 작은 지역은?
인구수_평균=data.loc[:, '인구수'].mean()
print('평균', 인구수_평균)

pop_data = data.loc[data['인구수']<=인구수_평균, :].sort_values(by='인구수').reset_index(drop=True)
pop_data.head()

pop_data.to_excel('data/평균인구수미만지역_.xls',)

In [ ]:
#12.면적이 평균면적보다 넓은 지역은?
평균면적=data.loc[:, '면적'].mean()
print(평균면적)

data.loc[data['면적']> 평균면적, :]

In [ ]:
#13.인구수가 평균보다 높고, 면적도 평균보다 넓은 지역은?
인구수_평균=data.loc[:, '인구수'].mean()
평균면적=data.loc[:, '면적'].mean()
mydata=data.loc[(data['인구수']>인구수_평균)&(data['면적']>평균면적), : ]
mydata.to_excel('data/인구수 평균이랑 면적 평균이상.xlsx')

In [ ]:
data.loc[data['행정구역'],'면적'].min()

### data selection
*loc[] iloc[] 사용

*행과 열을 선택하는 방법 

*slicing을 사용

*특정행과 열을 여러개 선택 [ ] 를 사용

*조건식으로 특정행을 선택(boolean indexing)

In [ ]:
data.loc[(data['광역시도']=='경기도') & (data['인구수']> 인구수_평균)].sort_values(by='인구수',ascending=False).reset_index(drop=True)

In [ ]:
print(type(data['광역시도'].unique()))
data['광역시도'].unique()

In [ ]:
data['광역시도'].value_counts()

In [ ]:
#강원도에서 가장 높은 인구수는?
pop_toto=data.loc[data['광역시도']=='강원도','인구수'].max()
print(pop_toto)
data.loc[data['인구수']==pop_toto, ['광역시도', '행정구역', '인구수']]

In [ ]:
#광역시도 인자로 받아서 광역시도 중에서 인구수가 가장 많은 지역정보 반환
def get_pop_max_p(sido):
    
    pop_toto=data.loc[data['광역시도']==sido,'인구수'].max()
    print(pop_toto)
    return data.loc[data['인구수']==pop_toto, ['광역시도', '행정구역', '인구수']]

In [ ]:
get_pop_max_p('서울특별시')

In [ ]:
for sido_name in data['광역시도'].unique():
    #print(sido_name)
    print(get_pop_max_p(sido_name))

In [ ]:
#d위에거를 예쁘게 표로 만드려면???

pop_totof=pd.DataFrame(columns=['광역시도','행정구역','인구'])

#datafrome 객체 생성

  
for sido_name in data['광역시도'].unique():
    
    pop_totof= pop_totof.append(get_pop_max_p(sido_name))
pop_totof = pop_totof.reset_index(drop=True)
pop_totof

## numpy 사용

In [ ]:
#0부터 시작하는 index값을 1부터 시작하도록 변경

#index확인
pop_totof.index

In [ ]:
import numpy as np


np.arange(1,10+1)

len(pop_totof.index)

In [ ]:
#ㅑㅇㄷㅌ
for val in np.arange(1,10+1):
    print(val)

In [ ]:

pop_totof.index = np.arange(1,len(pop_totof)+1)
print(pop_totof.index)

### 광역시도별 면적이 가장 넓은 지역을 표 데이터로 마드세요

*광역시도, 행정구역, 면적 칼럼
*index는 1부터 시작하도록, 면적이 가장 넓은 순서대로
*엑실루 저장

In [ ]:
data.loc[data['광역시도'],'면적'].max()
print(ddang_size_king)
data.loc[data['면적']==ddang_size_king, ['광역시도', '행정구역', '면적']]

In [ ]:
ddang_king = data.loc[data['광역시도']=='서울특별시','면적'].max()
print(ddang_king)
data.loc[data['면적']==ddang_king, ['광역시도', '행정구역', '면적']]

In [ ]:
def ddang_f(sido):
    ddang_king = data.loc[data['광역시도']==sido,'면적'].max()
    #print(ddang_king)
    return data.loc[data['면적']==ddang_king, ['광역시도', '행정구역', '면적']]
    
ddang_f('서울특별시')

In [ ]:
final_ddang_f=pd.DataFrame(columns=['광역시도', '행정구역', '면적'])


#datafrome 객체 생성

  
for sido_name in data['광역시도'].unique():
    
    final_ddang_f= final_ddang_f.append(ddang_f(sido_name))
final_ddang_f = final_ddang_f.sort_values(by='면적',ascending=False).reset_index(drop=True)
final_ddang_f

In [ ]:
for sido_name in data['광역시도'].unique():
    
    final_ddang_f= final_ddang_f.append(ddang_f(sido_name))
final_ddang_f = final_ddang_f.sort_values(by='면적',ascending=False).
final_ddang_f


final_ddang_f.index = np.arange(1,len(final_ddang_f)+1)
print(final_ddang_f.index

In [ ]:
import numpy as np

final_ddang_f.index = np.arange(1,len(final_ddang_f)+1)

final_ddang_f.to_excel('data/면적 과제.xlsx')

### 상관계수
*인구수와 면적 간의 어느 정도의 관력성이 있는 지 보기 위해서

*상관계수는 -1~1 사이의 값

*0에 가까울수록 서로 관련성이 없음. 1에 가까울수록 서로 관련성이 있다. 

-corr()함수를 사용한다

In [ ]:
#전체 행정구역에서의 면적과 인구수의 상관계수
data['면적'].corr(data['인구수'])

In [ ]:
def get_corr_value(sido):
    sido_df = data.loc[data['광역시도']==sido]
    return sido_df['면적'].corr(sido_df['인구수'])
get_corr_value('경기도')

get_corr_value('서울특별시')

In [ ]:
get_corr_value('서울특별시')

### 드뎌ㅑ 시각화!!!!!!!!!!!!!!!!!!!!!!!!!!!dks아니고 group by 기능 사용하기
*series객체의 group by() -컬럽값을 인자로 전달한다.

*dataframe 객체의 groupby() - 컬럼명을 인자로 전달한다.

*~별에 해당하는 컬럼명은 groupby() 함수의 인자로 전달한다.

In [ ]:
data['광역시도'].value_counts()

In [ ]:
#광역시도별 인구수의 합계 구하기
data['인구수'].groupby(data['광역시도']).sum()

In [ ]:
data['인구수'].groupby(data['광역시도']).sum().sort_values(ascending=False)

In [ ]:
#광역시도별 인구수의 합계 - DataFrame 객체
#data['인구수'].groupby(data['광역시도'])
#DataFramneGroupBy를 반환
data.groupby('광역시도').sum()

In [ ]:
data.groupby('광역시도')['인구수'].sum()

In [ ]:
data.groupby('광역시도')['면적'].sum().sort_values(ascending=False)

In [ ]:
group_df=data.groupby(['광역시도','행정구역'])['인구수'].sum() #주개주고싶으면 []
group_df.to('data/group_df.xlsx',sheet_name='인구수')

In [ ]:
#광역시도별 인구수의 max, mean, std 구하기
# 한꺼번에 하려면!!! 여러번의 집계함수를 한꺼번에 사용하려면 agg() 함수 사용
data.groupby('광역시도')['인구수'].agg(['max','mean','std'])

In [ ]:
#넘파이의 std() 호출한 결과를 agg()함수의 인자로 전달하기 

import numpy as np

def std(x):
    return np.std(x)

data.groupby(['광역시도'])['인구수'].agg(['max','mean',std]).sort_values(by='std',ascending=False)

In [ ]:
def std(x):
    return np.std(x)

g = data.groupby(['광역시도'])['인구수'].agg(['max','mean',std]).sort_values(by='std',ascending=False)
g

In [ ]:
#index를 컬럼으로 변환하기 reset_index()함수의 level속성에 변환할 컬럼명을 설정
#reset_index()dml inplace 의 default가 false, 객체를 변경하지는 않고 출력만 한다. 
#reset_index()dml inplace 의 default가 rtue 이면 객체를 변경하고 출력은 하지않는다
g.reset_index(level='광역시도',inplace=True)

In [ ]:
g

In [ ]:
g.T

In [ ]:
g.transfose()

## 시각화
*jupyter notebook 에서 플롯팅 옵션 설정

*matplotlib,seaborn 라이브러리 import


*한글 폰트 설정

In [ ]:
#notebook에 plot이 그려지게 하기 위한 설정
#이 설정을 하면 show()함수를 호출하지 않아도 plot이 그려진다.

%matplotlib inline

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import seaborn as sns

print('matplotlib', matplotlib.__version__)

In [ ]:
#g한글 폰트 설정
font_path = 'c:/windows/fonts/malgun.ttf'
font_prop = fm.FontProperties(fname=font_path).get_name()
font_prop
#matplotlib의 rc(run command)함수를 사용해서 한글폰트 설정
matplotlib.rc('font',family=font_prop)

*Figure 와 Axes 객체를 생성

-Figure는 그림이 그려지는 도화지

-axes는 plot이 그려지는 공간

-figure 에 axes를 하나만 생성할 수도 있고

-figure 에 axes를 여러개 생성해서 화면을 분할 할 수도 있음

-seaborn에서 제공하는 막대그래프를 그릴수 있는 barplot()함수 사용
 - 서울특별시의 행정구역별로 인구수
 - 서울특별시의 행정구역별로 면적

In [16]:

def final_gf(sido):
    t = data.loc[data['광역시도']==sido]
    
                 



#figure와 axex객체 2개 생성

    figure,(axes1,axes2)=plt.subplots(nrows=2,ncols=1)
    #figure size 조절
    figure.set_size_inches(18,12)



    #barplot()- x축에는 행정구역, y축에는 인구수
    sns.barplot(x='행정구역',y='인구수',data=t.sort_values(by='인구수',ascending=False),ax=axes1)

    sns.barplot(x='행정구역',y='면적',data=t.sort_values(by='면적',ascending=False),ax=axes2)




    print(figure)
    print(axes1)
    print(axes2)
    
final_gf('부산광역시')

NameError: name 'plt' is not defined

In [ ]:
seoul_df = data.loc[data['광역시도']=='서울특별시']
seoul_df

In [18]:
###전국의 광역시도별 인구수
#figure와 axes생성 = figure 1개에 axes를 작성를 작t성
figure.axes1=plt.sublots(nrows=1,ncols=2)

figure.set_size_inches(18,12)
print(figure)
print(axes1)

sns.barplot(x='광역시도',y='인구수',data=data.sort_values(by='인구수',ascending=False)

SyntaxError: unexpected EOF while parsing (<ipython-input-18-b8f2ee8bfd91>, line 11)